<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo-cocktail.png", height: 50 %>
  <% end %>

  <%= link_to "Add a cocktail", new_cocktail_path, class: 'btn btn-primary' %>
</div>
